---
import Layout from "../../layouts/Layout.astro";
// import Swiper bundle with all modules installed
import Swiper from 'swiper/bundle';
// import styles bundle
import 'swiper/css/bundle';

import goods from "../../data/goods.json";
export const getStaticPaths = async() => {
  return goods.map(({ url }) => {
    return {
      params: { product : url },
    }
  });
};

const { product } = Astro.params;
const goodsData = goods.find(({url}) => product === url);



---

<Layout>

<img src=`/images/${goodsData.itemphotos[0]}`>
<p>{goodsData.name}</p>
<p>{goodsData.price}</p>
</Layout>