---

---

<footer>
  <p>&copy; 2024 name by Trident School of Infrmation Technology</p>
</footer>


<style lang="scss">
  footer {
    padding: 3rem 0;
    background-color: #333;
    color: white;
    text-align: center;
    p {
      margin: 0;
      font-size:.5em
    }
  }
